.screen#buy-tickets {
    opacity: 1;
    display: block;
}

#all-tickets-container {
    padding: 10px 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#all-tickets-container.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#ticket-amount {
    color: #FFFFFF;
}
.ticket-list-item {
    display: flex;
    background-color: #FAFAFA;
    padding: 15px 25px;
    border-radius: 15px;
    margin: 8px 0;
    color: #848484;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.ticket-list-item-buttons {
    background-color: #EEEEEE;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-flex;
    gap: 12px;
    flex-direction: row;
    justify-content: space-around;
}

#add-ticket-button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}
img.ticket-icon {
    width: 20px;
}
#add-ticket-button img.add-image {
    width: 25px;
}

#buy-tickets-error {
    color: #FF0000;
    margin-left: 10px;
    margin-top: 25px;
    display: none;
}


@media screen and (max-width: 950px) {
    .input-line.date-input-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
}
