.accordion-toggle {
  display: block;
  padding: 15px;
  background-color: #EEEEEE;
  border-radius: 15px;
  margin-top: 10px;
  text-decoration: none;
  box-sizing: border-box;
  color: #151515;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}
.accordion-toggle:hover { text-decoration: none; }
.accordion-toggle:first-child {
    margin-top: 0;
}
.accordion-content {
  display: block;
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow: hidden;
  box-sizing: border-box;
}

.accordion-content.active {
  max-height: 500px;
}

#screen-container {
    max-height: none;
}
.screen {
    padding-bottom: 25px;
}
